<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Files Play
      <ion-icon name="star" color="gold" icon-end></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 3px 0px 8px 8px">

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-label stacked>Select an action</ion-label>

          <ion-select [(ngModel)]="action">
            <ion-select-option *ngFor="let act of actionList" [value]="act.key" >
              {{ act.value }}
            </ion-select-option>
          </ion-select>

        </ion-item>
      </ion-col>
      <ion-col size="2">
        <button ion-button color="dark" (click)="executeClicked()" class="colbtn">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngIf="savedParentNativeURLs.length > 0">
      <ion-col>
        <button ion-button outline item-end (click)="goUp()">
          Go up
        </button>
      </ion-col>
      <ion-col align-self-end>
        <button ion-button outline item-end (click)="goHome()">
          Home
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{ actualPath }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngFor="let item of items">

    <div *ngIf="item.isDirectory" (click)="goDown(item)">
      Directory: {{item.name}}
    </div>

    <div *ngIf="item.isFile">
      File: {{item.name}}
    </div>

  </div>

</ion-content>

<ion-footer style="height: 30px; vertical-align: center; padding: 8px">
    <div style="font-size: 14px; font-weight: bold; color: darkgray">by Joca (Nov. 2018)</div>
</ion-footer>
