<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Files Play
      <ion-icon name="star" color="gold"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid no-margin no-padding>
    <ion-row no-margin no-padding>
      <ion-col col-10>
      <ion-item>
        <ion-label stacked>Select an action</ion-label>
        <ion-select [(ngModel)]="action">
          <ion-option *ngFor="let act of getActions()" [value]="act[0]">
            {{ act[1] }}
          </ion-option>
        </ion-select>
      </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="executeClicked()" class="btn-execute" color="dark">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <button ion-button (click)="goUp()">
    Go up
  </button>

  <div *ngFor="let item of items">

    <div *ngIf="item.isDirectory" (click)="goDown(item)">
      Directory: {{item.name}}
    </div>

    <div *ngIf="item.isFile">
      File: {{item.name}}
    </div>

  </div>

</ion-content>

